<div class="dialog-wrapper">
  <div class="header text-center">Edit Post</div>
  <div class="body d-flex flex-column" [formGroup]="createForm">
    <input
      nbInput
      fullWidth
      placeholder="Title"
      formControlName="title"
    />
    <textarea
      rows="5"
      nbInput
      fullWidth
      placeholder="Write something..."
      formControlName="description"
    ></textarea>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <input
            nbInput
            fullWidth
            placeholder="Address"
            formControlName="address"
          />
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <nb-select
            fullWidth
            formControlName="provinceId"
            placeholder="Province"
            required
          >
            <nb-option *ngFor="let item of provinceArray" value="{{item.province_id}}">
              {{item.province_name | titlecase}}
            </nb-option>
          </nb-select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <nb-select
            fullWidth
            formControlName="districtId"
            placeholder="District"
            required
          >
            <nb-option *ngFor="let item of districtArray" value="{{item.district_id}}">
              {{item.district_name | titlecase}}
            </nb-option>
          </nb-select>
        </div>
      </div>
    </div>
    <input
      nbInput
      fullWidth
      type="number"
      placeholder="Price"
      formControlName="price"
    />
    <div class="d-flex images-wrapper flex-wrap">
      <ng-container
        *ngFor="let image of imageListToDisplay"
      >
        <img
          *ngIf="image | safe: 'url' as imgSrc"
          width="100px" height="100px"
          class="post-image"
          [src]="imgSrc"
          alt=""/>
      </ng-container>
    </div>
    <input nbInput fullWidth type="file" accept="image/*" (change)="onImageFileSelect($event)"/>
  </div>
  <div class="footer">
    <button
      class="text-center"
      fullWidth
      [disabled]="createForm.invalid"
      (click)="submit()">Create</button>
  </div>
</div>
