.header {
  height: 60px;
}
.dialog-wrapper {
  border-radius: 8px;
  padding: 16px;
  background: #FFFFFF;
}
.body {
  gap: 4px;
}
.footer {
  margin-top: 8px;
  button {
    width: 100%;
    border-radius: 8px;
    background: #1876F2;
    color: #FFFFFF;
    border: none;
    padding: 12px 10px;
  }
}
.images-wrapper {
  gap: 8px;
  img {
    border-radius: 8px;
    width: 100px;
    height: 100px;
  }
}
