<div class="wrapper" [formGroup]="filterForm">
  <nb-select
    fullWidth
    formControlName="provinceId"
    placeholder="Select province to explore"
    [status]="provinceId.dirty ? (provinceId.invalid ? 'danger' : 'success') : 'basic'"
    [attr.aria-invalid]="provinceId.invalid && provinceId.touched ? true : null"
  >
    <nb-option *ngFor="let item of provinceArray" value="{{item.province_id}}">
      {{item.province_name | titlecase}}
    </nb-option>
  </nb-select>
</div>

<div class="wrapper">
  <chart #someInput type="bar" [data]="data" (clickElement)="selectElement($event)"></chart>
</div>

