<nb-card class="list-card">
  <nb-card-header>
    <nb-user [name]="userService.getDisplayName(post.user.firstName, post.user.lastName)" [title]="post.user.userType">
    </nb-user>
  </nb-card-header>
  <nb-card-body>
    <h4>{{post.title}}</h4>
    <p>{{post.description}}</p>
    <div class="d-flex flex-wrap" *ngIf="post.images">
      <ng-container *ngFor="let image of post.images">
        <img width="50%" height="50%" [src]="image.url">
      </ng-container>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button
      [style.width.%]="50"
      nbButton
      hero
      size="small"
      status="success"
    >
      Verified
    </button>
    <button
      [style.width.%]="50"
      nbButton
      hero
      size="small"
      status="danger  "
    >
      Decline
    </button>
  </nb-card-footer>
</nb-card>
