<div class="row">
  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card>
      <nb-card-body>
        <button nbButton (click)="open()">Create Post</button>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card class="list-card" *ngFor="let post of postList">
      <nb-card-header>
        <nb-user [name]="userService.getDisplayName(post.user.firstName, post.user.lastName)" [title]="post.user.userType">
        </nb-user>
      </nb-card-header>
      <nb-card-body>
        <h4>{{post.title}}</h4>
        <p>{{post.description}}</p>
        <div class="d-flex flex-wrap" *ngIf="post.images">
          <ng-container *ngFor="let image of post.images">
            <img width="50%" height="50%" [src]="image.url">
          </ng-container>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button
          [style.width.%]="50"
          nbButton
          hero
          size="small"
          status="control"
        >
          Interested
        </button>
        <button
          [style.width.%]="50"
          nbButton
          hero
          size="small"
          status="control"
          (click)="chat(post)"
        >
          Chat
        </button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
