<div class="row" *ngIf="(userService.currentUser | async)?.userType === 'landlord'">
  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card>
      <nb-card-body>
        <button nbButton (click)="open()">Create Post</button>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row" [formGroup]="filterForm" *ngIf="(userService.currentUser | async)?.userType === 'tenant'">
  <div class="col-sm-3">
    <div class="form-group">
      <input
        nbInput
        fullWidth
        placeholder="Start Price"
        formControlName="startPrice"
      />
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <input
        nbInput
        fullWidth
        placeholder="End Price"
        formControlName="endPrice"
      />
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <nb-select
        fullWidth
        formControlName="provinceId"
        placeholder="District"
        [status]="provinceId.dirty ? (provinceId.invalid ? 'danger' : 'success') : 'basic'"
        [attr.aria-invalid]="provinceId.invalid && provinceId.touched ? true : null"
      >
        <nb-option *ngFor="let item of provinceArray" value="{{item.province_id}}">
          {{item.province_name | titlecase}}
        </nb-option>
      </nb-select>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <nb-select
        fullWidth
        formControlName="districtId"
        placeholder="District"
        [status]="districtId.dirty ? (districtId.invalid ? 'danger' : 'success') : 'basic'"
        [attr.aria-invalid]="districtId.invalid && districtId.touched ? true : null"
      >
        <nb-option *ngFor="let item of districtArray" value="{{item.district_id}}">
          {{item.district_name | titlecase}}
        </nb-option>
      </nb-select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card class="list-card" *ngFor="let post of postList" (click)="navigateDetail(post._id)">
      <nb-card-header>
        <nb-user [name]="userService.getDisplayName(post.user.firstName, post.user.lastName)" [title]="post.user.userType">
        </nb-user>
      </nb-card-header>
      <nb-card-body>
        <h4>{{post.title}}</h4>
        <p>{{post.description}}</p>
        <div class="d-flex flex-wrap" *ngIf="post.images">
          <ng-container *ngFor="let image of post.images">
            <img width="50%" height="50%" [src]="image.url">
          </ng-container>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button
          [style.width.%]="50"
          nbButton
          hero
          size="small"
          status="{{post.votedUsers?.includes(userService.currentUser.getValue()?._id) ? 'primary' : 'control'}}"
          (click)="interestPost(post)"
        >
          {{post.votedUsers?.includes(userService.currentUser.getValue()?._id) ? 'Interested' : 'Interest'}}
        </button>
        <button
          [style.width.%]="50"
          nbButton
          hero
          size="small"
          status="control"
          (click)="chat(post)"
        >
          Chat
        </button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
