.header-wrapper {
  height: 80px;
  padding: 20px 32px;
}
.user {
    gap: 20px;
}
.avatar {
  padding: 12px;
  max-width: 44px;
  max-height: 44px;
  min-width: 44px;
  min-height: 44px;
  border-radius: 99px;
  border: 4px solid #E5E5E5;
}
