<div style="width: calc(100% - 400px)">
  <div class="create-post-wrapper d-flex align-items-center" *ngIf="userType === 'landlord'">
    <div class="avatar d-flex align-items-center justify-content-center">
      {{userService.getDisplayShortName(userService.currentUser.value?.firstName, userService.currentUser.value?.lastName)}}
    </div>
    <div class="dialog-wrapper text-center" (click)="openCreateDialog()">
      What do you want to post, {{authService.user?.displayName}}?
    </div>
  </div>
  <div [formGroup]="filterForm" class="create-post-wrapper d-flex align-items-center" *ngIf="userType === 'tenant'">
    <div class="flex-grow-1">
      <input
        nbInput
        fullWidth
        placeholder="Start Price"
        formControlName="startPrice"
      />
    </div>
    <div class="flex-grow-1">
      <input
        nbInput
        fullWidth
        placeholder="End Price"
        formControlName="endPrice"
      />
    </div>
    <div class="flex-grow-1">
      <nb-select
        fullWidth
        formControlName="provinceId"
        placeholder="District"
        [status]="provinceId.dirty ? (provinceId.invalid ? 'danger' : 'success') : 'basic'"
        [attr.aria-invalid]="provinceId.invalid && provinceId.touched ? true : null"
      >
        <nb-option *ngFor="let item of provinceArray" value="{{item.province_id}}">
          {{item.province_name | titlecase}}
        </nb-option>
      </nb-select>
    </div>
    <div class="flex-grow-1">
      <nb-select
        fullWidth
        formControlName="districtId"
        placeholder="District"
        [status]="districtId.dirty ? (districtId.invalid ? 'danger' : 'success') : 'basic'"
        [attr.aria-invalid]="districtId.invalid && districtId.touched ? true : null"
      >
        <nb-option *ngFor="let item of districtArray" value="{{item.district_id}}">
          {{item.district_name | titlecase}}
        </nb-option>
      </nb-select>
    </div>
  </div>
  <div class="feed-wrapper d-flex flex-column ">
    <div
      *ngFor="let post of postList"
      class="post"
    >
      <div class="post-header d-flex">
        <div class="avatar d-flex align-items-center justify-content-center">
          {{userService.getDisplayShortName(post.user.firstName, post.user.lastName)}}
        </div>
        <div>
          <div>{{userService.getDisplayName(post.user.firstName, post.user.lastName)}}</div>
          <div class="small">{{post.createdAt | date: 'longDate'}}</div>
        </div>
      </div>
      <div class="post-content">
        <h4>{{post.title}}  {{post.price | currency}}</h4>
        <div>At {{post.address}}-{{post.location?.provinceName}}-{{post.location?.districtName}}</div>
        <ngx-read-more
          [content]="post.description"
          [limit]="200"
          [completeWords]="true"
        ></ngx-read-more>
        <swiper
          style="margin-top: 20px"
          [config]="config"
        >
          <ng-template swiperSlide *ngFor="let image of post.images">
            <img [src]="image.url">
          </ng-template>
        </swiper>
      </div>
      <div class="post-footer">
        <div *ngIf="post.vote" class="react-wrapper d-flex">
          <nb-icon icon="heart" status="danger"></nb-icon> {{post.vote}}
        </div>
        <div class="function-wrapper d-flex" *ngIf="userType === 'tenant'">
          <button
            class="text-center"
            [style.width.%]="48"
            [ngClass]="{'interested': post.votedUsers?.includes(userService.currentUser.getValue()?._id)}"
            (click)="interestPost(post)"
          >
            {{post.votedUsers?.includes(userService.currentUser.getValue()?._id) ? 'Interested' : 'Interest'}}
          </button>
          <button
            class="text-center"
            [style.width.%]="48"
            (click)="chat(post)"
          >
            Chat
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="suggestion" *ngIf="userType === 'tenant'">
  <h6 class="suggestion-header">You might like</h6>
  <div class="suggestion-body">
    <div
      class="suggestion-body-post"
      *ngFor="let post of suggestionArray"
    >
      <div class="title">{{post.title}}</div>
      <div class="address">{{post.address}}</div>
      <div class="photos">
        <img *ngFor="let photo of post.photos" style="border-radius: 8px" width="100%" src="{{photo.src}}">
      </div>
      <div class="d-flex align-items-center" style="gap: 4px">{{post.likes}} <nb-icon icon="heart" status="danger"></nb-icon> </div>
    </div>
  </div>
</div>

<div class="suggestion" *ngIf="userType === 'landlord'">
  <div class="progress-info" *ngFor="let item of progressInfoData">
    <div class="subtitle">{{ item.title }}</div>
    <div class="h3">{{ item.value | ngxNumberWithCommas }}</div>
    <nb-progress-bar [value]="item.activeProgress" [status]="'primary'"></nb-progress-bar>
    <div class="caption description">
      <bdi>{{ item.description }}</bdi>
    </div>
  </div>
</div>

